<div class="container">
  <div class="row mt-4">
    <div
      class="center-head d-flex justify-content-end col-lg-12 col-md-12 col-sm-12"
    >
      <button
        class="d-flex justify-content-end"
        nbButton
        style="border: 2px solid #c9ebf9; background-color: #d2effa"
      >
        <nb-icon status="info" icon="printer-outline"></nb-icon>
        Imprimer
      </button>

      <button
        class="d-flex justify-content-end mx-4"
        nbButton
        style="border: 2px solid #c9ebf9; background-color: #d2effa"
      >
        <nb-icon status="danger" icon="file-outline"></nb-icon>
        Pdf
      </button>
    </div>
  </div>

  <nb-card class="mt-4">
    <nb-card-body>
      <div class="row">
        <div class="pt-3 px-3 col-lg-6 col-md-6 col-sm-12">
          <h5>Nom technicien : ABBOUD Nabil</h5>
        </div>
        <div class="pt-3 px-3 col-lg-6 col-md-6 col-sm-12">
          <h5>Matricule : ####</h5>
        </div>
      </div>
    </nb-card-body>

    <nb-card-body>
      <table class="rwd-table">
        <tbody>
          <tr class="row">
            <th class="col-lg-3 col-md-6 col-sm-12">Client</th>
            <td>BNA</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="row">
            <th class="col-lg-3 col-md-6 col-sm-12">Projet</th>
            <td>Entretien préventif S4</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="row">
            <th class="col-lg-3 col-md-6 col-sm-12">Ticket</th>
            <td>Entretien préventif</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="row">
            <th class="col-lg-3 col-md-6 col-sm-12">Etat</th>
            <td>En cours</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="row">
            <th class="col-lg-3 col-md-6 col-sm-12">Temps passé</th>
            <td>7 Heures</td>
          </tr>
        </tbody>
        
            <table class="w-100">
               <tbody>
                <tr class="row">
                    <th>Date  </th>
                    <th >Commentaire  </th>
                </tr>
                <tr class="row">
                    <td>29/09/2022 15:09:25  </td>
                    <td>essai 2  </td>
                </tr>
                <tr class="row">
                    <td>29/09/2022 15:09:25  </td>
                    <td>essai 2  </td>
                </tr>
               </tbody>
                  
            </table>
      </table>
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
          <h6>Total Heures par Projet : ...</h6>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
