<div class="container">
  <div class="row mt-4">
    <div
      class="center-head d-flex justify-content-end col-lg-12 col-md-12 col-sm-12"
    >
      <button
        class="d-flex justify-content-end"
        nbButton
        style="border: 2px solid #c9ebf9; background-color: #d2effa"
      >
        <nb-icon status="info" icon="printer-outline"></nb-icon>
        Imprimer
      </button>

      <button
        class="d-flex justify-content-end mx-4"
        nbButton
        style="border: 2px solid #c9ebf9; background-color: #d2effa"
      >
        <nb-icon status="danger" icon="file-outline"></nb-icon>
        Pdf
      </button>
    </div>
  </div>

  <nb-card class="mt-4">
    <nb-card-body>
      <div class="row">
        <div class="pt-3 px-3 col-lg-12 col-md-12 col-sm-12">
          <h5>Client : BNA</h5>
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
      <div class="row">
        <div class="d-flex col-lg-2 col-md-3 col-sm-12 justify-content-start">
          <p class="pt-2">Projet :</p>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-12 d-flex justify-content-start">
          <input
            class="mx-3 w-100"
            value="Installation clim VRV"
            fieldSize="medium"
            nbInput
            type="text"
            placeholder=""
          />
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>N° Ticket</th>
            <th>Ticket</th>
            <th>Technicien</th>
            <th>Etat</th>
            <th>Temps Passé (Hr)</th>
          </tr>
          <tr>
            <td data-th="N° Ticket">91</td>
            <td data-th="Ticket">Installation U;Int</td>
            <td data-th="Technicien">AYARI Kais</td>
            <td data-th="Etat">Non affecté(e)</td>
            <td data-th="Temps passé">0</td>
          </tr>

          <tr>
            <td data-th="N° Ticket">83</td>
            <td data-th="Ticket">Passage réseau condensat</td>
            <td data-th="Technicien">AGILI AbdKrim</td>
            <td data-th="Etat">Attente Fournisseur</td>
            <td data-th="Temps Passé">2</td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
          <h6>Total Heures par Projet : ...</h6>
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
        <div class="row">
            <div class="d-flex col-lg-2 col-md-3 col-sm-12 justify-content-start">
              <p class="pt-2">Projet :</p>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 d-flex justify-content-start">
              <input
                class="mx-3 w-100"
                value="Installation clim VRV"
                fieldSize="medium"
                nbInput
                type="text"
                placeholder=""
              />
            </div>
          </div>
    </nb-card-body>
    <nb-card-body>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>N° Ticket</th>
            <th>Ticket</th>
            <th>Technicien</th>
            <th>Etat</th>
            <th>Temps Passé (Hr)</th>
          </tr>
          <tr>
            <td data-th="N° Ticket">91</td>
            <td data-th="Ticket">Installation U;Int</td>
            <td data-th="Technicien">AYARI Kais</td>
            <td data-th="Etat">Non affecté(e)</td>
            <td data-th="Temps passé">0</td>
          </tr>

          <tr>
            <td data-th="N° Ticket">83</td>
            <td data-th="Ticket">Passage réseau condensat</td>
            <td data-th="Technicien">AGILI AbdKrim</td>
            <td data-th="Etat">Attente Fournisseur</td>
            <td data-th="Temps Passé">2</td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
          <h6>Total Heures par Projet : ...</h6>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card class="mt-4">
    <nb-card-body>
      <div class="row">
        <div class="pt-3 px-3 col-lg-12 col-md-12 col-sm-12">
          <h5>Client : FIT</h5>
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
        <div class="row">
            <div class="d-flex col-lg-2 col-md-3 col-sm-12 justify-content-start">
              <p class="pt-2">Projet :</p>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 d-flex justify-content-start">
              <input
                class="mx-3 w-100"
                value="Installation clim VRV"
                fieldSize="medium"
                nbInput
                type="text"
                placeholder=""
              />
            </div>
          </div>
    </nb-card-body>
    <nb-card-body>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>N° Ticket</th>
            <th>Ticket</th>
            <th>Technicien</th>
            <th>Etat</th>
            <th>Temps Passé (Hr)</th>
          </tr>
          <tr>
            <td data-th="N° Ticket">91</td>
            <td data-th="Ticket">Installation U;Int</td>
            <td data-th="Technicien">AYARI Kais</td>
            <td data-th="Etat">Non affecté(e)</td>
            <td data-th="Temps passé">0</td>
          </tr>

          <tr>
            <td data-th="N° Ticket">83</td>
            <td data-th="Ticket">Passage réseau condensat</td>
            <td data-th="Technicien">AGILI AbdKrim</td>
            <td data-th="Etat">Attente Fournisseur</td>
            <td data-th="Temps Passé">2</td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
          <h6>Total Heures par Projet : ...</h6>
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
        <div class="row">
            <div class="d-flex col-lg-2 col-md-3 col-sm-12 justify-content-start">
              <p class="pt-2">Projet :</p>
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 d-flex justify-content-start">
              <input
                class="mx-3 w-100"
                value="Installation clim VRV"
                fieldSize="medium"
                nbInput
                type="text"
                placeholder=""
              />
            </div>
          </div>
    </nb-card-body>
    <nb-card-body>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>N° Ticket</th>
            <th>Ticket</th>
            <th>Technicien</th>
            <th>Etat</th>
            <th>Temps Passé (Hr)</th>
          </tr>
          <tr>
            <td data-th="N° Ticket">91</td>
            <td data-th="Ticket">Installation U;Int</td>
            <td data-th="Technicien">AYARI Kais</td>
            <td data-th="Etat">Non affecté(e)</td>
            <td data-th="Temps passé">0</td>
          </tr>

          <tr>
            <td data-th="N° Ticket">83</td>
            <td data-th="Ticket">Passage réseau condensat</td>
            <td data-th="Technicien">AGILI AbdKrim</td>
            <td data-th="Etat">Attente Fournisseur</td>
            <td data-th="Temps Passé">2</td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
          <h6>Total Heures par Projet : ...</h6>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
