<div class="container">
    <div class="row"></div>
    <nb-card>
      <nb-card-body class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 class="pt-2 title-reponsive">Modifier les informations du chef d'agence</h5>
        </div>
      </nb-card-body>
    </nb-card>
  
    <nb-card class="mt-4">
      <nb-card-body>
        <form>
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12">
              <label class="pt-2" for="">Nom</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
              <input value="nom" fullWidth type="text" nbInput fieldSize="large" />
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-12">
              <label class="pt-2" for="">Prénom</label>
            </div>
  
            <div class="col-lg-5 col-md-5 col-sm-12">
              <input value="prénom" fullWidth type="text" nbInput fieldSize="large" />
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-12 mt-3">
              <label class="pt-2" for="">Matricule</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 mt-3">
              <input value="matricule" fullWidth type="text" nbInput fieldSize="large" />
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-12 mt-3">
              <label class="pt-2" for="">Email address</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 mt-3">
              <input value="email" fullWidth type="email" nbInput fieldSize="large" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 mt-2">
              <label for="">Statut</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 mt-2">
              <input value="statut" fullWidth type="text" nbInput fieldSize="large" />
            </div>
  
            <div class="col-lg-1 col-md-1 col-sm-12 mt-2">
              <label for="">Date de création</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 mt-2">
              <input fullWidth type="date" nbInput fieldSize="large" />
              <small> Date : 26/02/2022 </small>
            </div>
  
          
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-body class="row d-flex justify-content-center align-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-content-center">
              <button
                style="
                  background-color: #008000;
                  border: 1px solid transparent;
                  color: white;
                  text-transform: none;
                "
                nbButton
              >
                Valider
              </button>
            </div>
          </nb-card-body>
    </nb-card>
  </div>
  